body {
    margin: 0 auto;
    width: 720px;
    padding: 0 2em 1em;
}
div {
    margin-bottom: 1em;
}
input {
    width: 22em;
    margin-bottom: .5em;
}
#tasks {
    margin-top: 0;
    float: right; 
    width: 24em;
    min-height: 5em;
}