/* Taylor Harris 11/5/2021 */

@font-face {
	font-family: Nobile;
	src: url('../fonts/nobile-medium-webfont.woff');
    src: url('../fonts/nobile-medium-webfont.woff2');
}

html {
	background-image: url('../images/jewelry.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

#outerwrapper {	
    border-radius: 15%;
	background: rgba(243,205,170, 0.4);
	width: 70%;
	margin-left: 15%;
}

.addrightmargin {
	margin-right: 10%;
}

img {
	float: left;
	border-radius: 50%;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	text-align: center;
	margin-right: 25%;
}

h2 {
	font-family: 'Nobile', sans-serif, Arial;
	font-style: italic;
	font-size: 2em;
	text-align: center;
	margin-right: 25%;
}

nav ul {
	list-style: none;
	font-size: 1.5em;
	float: none;
	text-align: left;
}

main {
	background-image: linear-gradient(to bottom, #FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-family: 'Nobile', sans-serif, Arial;
	font-style: normal;
	font-size: 1.25em;
}

footer {
	font-size: 1em;
	text-align: center;
	padding: 10px;
}


