/*********************************************************************
***
*Original Author: Taylor Harris *
*Date Created: 1/19/22 *
*Version: 1 *
*Date Last Modified: 2/3/22 *
*Modified by: Taylor Harris *
*Modification log:              *
2/5/22 - Created css. Detailed Contact form.
***
******************************************************************** */

/*-----------------*/
/* *** CONTACT *** */
/*-----------------*/

.contact form {
    background-color: black;
    border-style:dashed;
    border-width: .5em;
    border-color: rgb(91, 46, 121);
    color: white;
    padding: 1em 0 1em 1em;
    font-family: 'Crimson Pro', serif;
    font-size: larger;
    margin-top: 4em;
    margin-left: 27%;
    margin-bottom: 4em;
    width: 750px;
  }
  
  .contact label {
    display: inline-block;
    width: 11em;
    text-align: right;
    vertical-align: top;
  }
  
  .contact #name, #dropdown, #email1, #email2, #phone, #message {
    font-family: 'Crimson Pro', serif;
    font-size: large;
  }
  
  .contact input, select, textarea {
    margin-left: 1em;
    margin-right: 0.5em;
  }
  
  .contact textarea {
    height: 5em;
    width: 20em;
  }
  
  .contact span {
    color: red;
  }
  
  #contact_message {
    padding: .5em;
    margin-bottom: .5em;
    text-align: left;
    vertical-align: top;
    font-family: 'Crimson Pro', serif;
    font-size: large;
  }
  
  #submit, #reset {
    font-family: 'Crimson Pro', serif;
    font-size: large;
  }
  
  
  
  /*----------------*/
  /* *** MOBILE *** */
  /*----------------*/
  @media (max-width: 620px){
      .contact {
          margin-top: 10%;
      }
    
      #contact_me {
        width: 350px;
        height: 625px;
        font-size: 18px;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
      } 
    
      .contact label {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        padding: .25em;
      }
    
      .contact textarea {
        height: 5em;
        width: 15em;
      }

      .contact #submit {
        margin-right: 8%;
      } 

      .contact #reset {
        margin-right: 9%;
      }
  }