/*********************************************************************
**
#Original Author: Taylor Harris #
#Date Created: 4/20/22 #
#Version: 1 #
#Date Last Modified: 4/28/22 #
#Modified by: Taylor Harris #
#Modification log:              #
4/20/22 - Added styling for sidebar, and home section.
4/21/22 - Added styling for about section.
4/22/22 - Added styling for portfolio section.
4/23/22 - Added more styling for portfolio section.
4/24/22 - Added styling for contact and footer sections.
4/25/22 - Added styling for scrollbar, nav, and added home animation.
4/26/22 - Worked on mobile responsiveness.
4/27/22 - Worked on mobile responsiveness, fixed footer.
4/28/22 - Touched up all mobile responsiveness for all elements.
**
******************************************************************** */


/*===== Google Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



/*===== Variables =====*/
:root {
    /*===== Colors =====*/
    --hue-color: 242;

    /*===== HSL Mode =====*/
    --theme-color: hsl(110, 72%, 35%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 19%, 5%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

    /*===== Font and Typography =====*/
    --body-font: 'Poppins', sans-serif;

    /*===== .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... =====*/
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*===== Font Weight =====*/
    --font-medium: 500;
    --font-bold: 600;

    /*===== Font Weight =====*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*===== Z Index =====*/
    --z-fixed: 10;
    --z-modal: 100;
}



/*===== Responsive Typography =====*/
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}



/*===== Base =====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    outline: none;
}



/*===== Layout =====*/
.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}



/*===== Reusable CSS Classes =====*/
.section {
    padding: 6.5rem 0 2rem;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}

.section__title::before {
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--theme-color);
}



/* --------------- */
/* *** SIDEBAR *** */
/* --------------- */
.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    border-right: 1px solid var(--box-color);
    transition: .5s;
}

.nav__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--theme-color);
    text-align: center;
    margin: auto;
}

.nav__logo-text {
    font-size: 1.125rem;
    color: black;
    font-weight: var(--font-bold);
    line-height: 40px;
}

.nav__menu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
}

.menu {
    display: flex;
}

.nav__list {
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav__link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
}

.btn__share {
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    text-align: center;
}

.social__share {
    font-size: 1.5rem;
}

.nav__toggle {
    height: 32px;
    width: 36px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    background-color: var(--theme-color);
    color: var(--title-color);
    display: none;
    justify-content: center;
    align-items: center;
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    display: none;
}



/*===== Active Link =====*/
.nav__link.active-link,
.nav__link:hover {
    color: var(--theme-color);
}

.nav__link.active-link::after,
.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--theme-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}



/*===== Main =====*/
.main {
    margin-left: 0;
}



/* ------------ */
/* *** HOME *** */
/* ------------ */
.home {
    /* background-color: black; */
    background: url('../images/background.png');
    background-size: cover;
    background-position: cover center;
    height: 100vh;
}

.home__img {
    display: none;
}

.home__container {
    position: relative;
    height: 100%;
    align-items: center;
}

.home__social {
    position: absolute;
    top: 1.8rem;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}

.home__social-coding {
    font-weight: var(--font-medium);
    position: relative;
}

.home__social-coding::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--text-color);
    right: -45%;
    top: 50%;
}

.home__social-links {
    display: inline-flex;
    column-gap: 1rem;
}

.home__social-link {
    font-size: 1.08rem;
    color: var(--text-color);
    transition: .4s;
}

.home__social-link:hover {
    transform: translateY(.25rem);
    color: var(--theme-color);
}

.home__img {
    /* margin-left: 50%; */
    display: none;
}

.home__title {
    font-size: var(--biggest-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.my__info {
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}

.info__item {
    display: flex;
    align-items: center;
}

.info__title,
.info__subtitle {
    font-size: var(--small-font-size);
}

.info__title {
    font-weight: var(--font-medium);
}

.info__icon {
    font-size: 1.8rem;
    color: var(--theme-color);
    margin-right: var(--mb-0-75);
}



/* --------------- */
/* *** BUTTONS *** */
/* --------------- */
.button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--theme-color);
    padding: .75rem 1.4rem;
    color: var(--title-color);
    border-radius: .25rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
}

.button::after {
    position: absolute;
    color: var(--title-color);
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    z-index: -1;
    transform: scale(0);
    border-radius: .25rem;
    transition: .3s;
}

.button:hover {
    color: var(--title-color);
    text-decoration: none;
}

.button:hover::after {
    transform: scale(1);
}



/* ------------- */
/* *** ABOUT *** */
/* ------------- */
.about {
    background-color: black;
    display: grid;
    place-items: center;
}

.about__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
}

/* .about__heading, .about__description {
    font-size: var(--small-font-size);
}

.about__heading {
    font-weight: var(--font-medium);
} */

.about__img {
    width: 480px;
    justify-self: center;
}

.about__heading {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}

.about__icon {
    display: grid;
    place-items: center;
    padding-bottom: 4%;
}

.education {
    /* border: solid var(--theme-color) .5px; */
    border: 2px solid var(--theme-color);
    border-radius: .50rem;
    padding-top: 2%;
}

/* .languages {
    border: solid white .5px;
} */



/* ----------------- */
/* *** PORTFOLIO *** */
/* ----------------- */

.work {
    background-color: black;
    display: grid;
    place-items: center;
}

.work__container {
    grid-template-columns: repeat(3, 330px);
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;
}

.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work__item {
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

.work__card {
    /* background-color: var(--box-color); */
    background-color: rgb(29, 29, 29);
    padding: 1.25rem;
    border-radius: .5rem;
}

.portfolio__item-details {
    display: none;
}

.work__img {
    border-radius: .5rem;
    margin-bottom: var(--mb-1);
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work__button {
    color: var(--theme-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work__button-icon {
    font-size: 1rem;
    transition: .3s;
}

.work__button:hover .work__button-icon {
    transform: translateX(.25rem);
}


/*===== Active Item PORTFOLIO =====*/
.active-work {
    background-color: var(--theme-color);
    color: var(--title-color);
}


/*===== PORTFOLIO Popup =====*/
.portfolio__popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s
}

.portfolio__popup.open {
    opacity: 1;
    visibility: visible;
}

.portfolio__popup-inner {
    background-color: rgb(29, 29, 29);
    width: 600px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;
}

.portfolio__popup-content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio__popup-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--theme-color);
    cursor: pointer;
}

.portfolio__popup-img {
    border-radius: .5rem;
}

.portfolio__popup-subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-25);
}

.details__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.details__description {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
}

.details__info li {
    margin-bottom: var(--mb-0-75);
    text-transform: capitalize;
    font-size: var(--small-font-size);
}

.details__info li:last-child {
    margin-bottom: 0;
}

.details__info li span {
    font-weight: normal;
}

.details__info li a {
    /* text-transform: lowercase; */
    color: var(--theme-color);
}


/* --------------- */
/* *** CONTACT *** */
/* --------------- */
.contact {
    background-color: black;
    display: grid;
    place-items: center;
}

.contact__container {
    grid-template-columns: 300px 340px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.contact__info {
    display: grid;
    row-gap: 1rem;
}

.contact__card {
    /* background-color: var(--box-color); */
    background-color: rgb(29, 29, 29);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.contact__card-icon {
    font-size: 1.8rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}

.contact__card-title,
.contact__card-data {
    font-size: var(--small-font-size);
}

.contact__card-title {
    font-weight: var(--font-medium);
}

.contact__card-data {
    display: block;
    margin-bottom: var(--mb-0-75);
}

.contact__button {
    color: var(--theme-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}

.contact__button-icon {
    font-size: 1rem;
    transition: .3s;
}

.contact__button:hover .contact__button-icon {
    transform: translateX(.25rem);
}

.input__container {
    position: relative;
    margin-top: .1rem;
    margin-bottom: 1.9rem;
}

.input {
    width: 100%;
    border: 2px solid var(--theme-color);
    border-radius: .50rem;
    background-color: transparent;
    padding: .6rem 1.2rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    letter-spacing: .5px;
    outline: none;
    transition: .3s;
}

textarea.input {
    padding: .8rem 1.2rem;
    min-height: 140px;
    border-radius: .50rem;
    resize: none;
}

.input__container label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: var(--font-medium);
    pointer-events: none;
    z-index: 1000;
    transition: .5s;
}

.input__container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.input__container span {
    position: absolute;
    top: 0;
    left: 25px;
    color: transparent;
    transform: translateY(-50%);
    font-size: var(--small-font-size);
    padding: 0 .4rem;
    pointer-events: none;
    z-index: 500;
}

.input__container span::before,
.input__container span::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 5px;
    opacity: 0;
    background-color: var(--body-color);
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.input__container span::before {
    left: 50%;
}

.input__container span::after {
    right: 50%;
}

.input__container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: var(--smaller-font-size);
}

.input__container.focus span::before,
.input__container.focus span::after {
    width: 50%;
    opacity: 1;
}


/* -------------- */
/* *** FOOTER *** */
/* -------------- */

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
    color: var(--title-color);
}

.bb__footer {
    background-color: rgb(29, 29, 29);
    padding: 2rem 0 2.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer__social {
    font-size: 1.25rem;
}

.footer__social:hover {
    color: var(--theme-color);
    text-decoration: none;
}

.footer__bg {
    background-color: rgb(29, 29, 29);
    padding: 2rem 0 2.5rem;
}

.footer__title {
    font-size: var(--h2-font-size);
}

.footer__subtitle {
    font-size: var(--small-font-size);
}

.footer__link:hover {
    color: var(--theme-color);
}


/* ------------------ */
/* *** SCROLL BAR *** */
/* ------------------ */
::-webkit-scrollbar {
    width: .60rem;
    /* background-color: var(--scroll-bar-color); */
    background-color: rgb(20, 20, 20);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    /* background-color: var(--scroll-thumb-color); */
    background-color: white;
    border-radius: .5rem;
}


/* ------------------ */
/* *** ANIMATIONS *** */
/* ------------------ */
.typewriter P {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #187720;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em;
    /* Adjust as needed */
    animation:
        typing 9s steps(5, end),
        blink-caret .7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #187720
    }
}

.line-1 {
    width: 6.75em;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/*===== Animation =====*/
.anim-typewriter {
    animation: typewriter 2.5s steps(13) 1s 1 normal both,
        blinkTextCursor 500ms steps(13) infinite normal;
    margin-top: 2%;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 6.75em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}


/* -------------------- */
/* *** BREAK POINTS *** */
/* -------------------- */

/*===== For Large Devices =====*/
@media screen and (max-width: 1408px) {
    .container {
        margin-left: var(--mb-2-5);
        margin-right: var(--mb-2-5);
    }

    .about__icon {
        display: grid;
        place-items: center;
        padding-bottom: 4%;
    }
}

@media screen and (max-width: 1216px) {
    .about__container {
        column-gap: 2.5rem;
    }

    .about__description {
        padding-right: 0;
    }

    .work__container {
        grid-template-columns: repeat(2, 330px);
        gap: 2.5rem;
    }

    .about__icon {
        display: grid;
        place-items: center;
        padding-bottom: 4%;
    }

    .about {
        display: grid;
        place-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .sidebar {
        width: 100%;
        z-index: 999;
        transform: translateX(-100%);
    }

    .show-sidebar {
        transform: translateX(0);
    }

    .nav__logo,
    .btn__share {
        display: none;
    }

    .nav__menu {
        height: 100%;
        width: 100%;
        transform: rotate(0deg) translateX(0);
        display: flex;
        justify-content: center;
    }

    .nav__list {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav__list {
        padding: 1rem 0;
        line-height: 1.5;
    }

    .nav__link.active-link::after,
    .nav_link:hover::after {
        bottom: 0;
    }

    .nav__close {
        display: block;
    }

    .nav__toggle {
        display: flex;
        right: initial;
        left: 1.5rem;
    }

    .home__social-coding {
        font-size: var(--smaller-font-size);
        transform: rotate(90deg);
    }

    .home__social-links {
        flex-direction: column;
        row-gap: .25rem;
    }

    .home__social-link {
        font-size: var(--normal-font-size);
    }

    .home__social {
        right: initial;
        flex-direction: column;
        row-gap: 3.5rem;
        top: 7rem;
    }

    .main {
        margin-left: 0;
    }

    .about {
        display: grid;
        place-items: center;
    }

    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 350px;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .about__box {
        padding: .75rem .5rem;
    }

    .about__description {
        padding: 0 4rem;
        text-align: center;
    }

    .about__education {
        padding: 0 4rem;
        text-align: center;
    }

    .about__icon {
        display: grid;
        place-items: center;
        padding-bottom: 4%;
    }

    .work__card {
        padding: 1rem;
    }

    .work__img {
        margin-bottom: var(--mb-0-75);
    }

    .work__title {
        margin-bottom: var(--mb-0-25);
    }

    .portfolio__item-details {
        margin-bottom: var(--mb-1-5);
    }

    .details__info li {
        margin-bottom: var(--mb-0-5);
    }

    .details__title {
        margin-bottom: var(--mb-0-75);
    }

    .bb__footer {
        background-color: rgb(29, 29, 29);
        padding: 2rem 0 2.5rem;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 2rem;
    }

    .footer__links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer__social {
        font-size: 1.25rem;
    }

    .footer__social:hover {
        color: var(--theme-color);
        text-decoration: none;
    }

    .footer__bg {
        background-color: rgb(29, 29, 29);
        padding: 2rem 0 2.5rem;
    }

    .footer__title {
        font-size: var(--h2-font-size);
    }

    .footer__subtitle {
        font-size: var(--small-font-size);
    }

    .footer__link:hover {
        color: var(--theme-color);
    }

}

/*===== For Medium Devices =====*/
@media screen and (max-width: 768px) {
    .nav__toggle {
        right: initial;
        left: 1.5rem;
    }

    .home__social-coding {
        font-size: var(--smaller-font-size);
        transform: rotate(90deg);
    }

    .home__social-links {
        flex-direction: column;
        row-gap: .25rem;
    }

    .home__social-link {
        font-size: var(--normal-font-size);
    }

    .home__social {
        right: initial;
        flex-direction: column;
        row-gap: 3.5rem;
        top: 7rem;
    }

    .about__img {
        width: 250px;
    }

    .about {
        display: grid;
        place-items: center;
    }

    .work__container {
        grid-template-columns: 330px;
    }

    .contact__container {
        grid-template-columns: 360px;
        row-gap: 3rem;
    }

    .bb__footer {
        background-color: rgb(29, 29, 29);
        padding: 2rem 0 2.5rem;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 2rem;
    }

    .footer__links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer__social {
        font-size: 1.25rem;
    }

    .footer__social:hover {
        color: var(--theme-color);
        text-decoration: none;
    }

    .footer__bg {
        background-color: rgb(29, 29, 29);
        padding: 2rem 0 2.5rem;
    }

    .footer__title {
        font-size: var(--h2-font-size);
    }

    .footer__subtitle {
        font-size: var(--small-font-size);
    }

    .footer__link:hover {
        color: var(--theme-color);
    }

    .portfolio__popup-inner {
        width: 420px;
        padding: 2.8rem 1.5rem 2.5rem;
    }

    .portfolio__popup-content {
        grid-template-columns: 1fr;
        row-gap: 1.6rem;
    }

    .portfolio__popup-img {
        margin-left: 17%;
    }

    .details__title {
        font-size: var(--normal-font-size);
    }

    .portfolio__popup-close {
        top: .3rem;
    }

    .about__icon {
        display: grid;
        place-items: center;
        padding-bottom: 4%;
    }
}

@media screen and (max-width: 576px) {
    .nav__toggle {
        right: initial;
        left: 1.5rem;
    }

    .home {
        background-image: url("../images/smaller-background.png");
        height: 100vh;
        align-items: initial;
        padding: 7rem 0 2rem;
    }

    .home__container {
        row-gap: 2rem;
    }

    .home__img {
        display: none;
    }

    .home__social {
        top: 0;
    }

    .about {
        display: grid;
        place-items: center;
    }

    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }

    .work__container,
    .contact__container {
        grid-template-columns: 300px;
    }

    .about__icon {
        display: grid;
        place-items: center;
        padding-bottom: 4%;
    }


    .bb__footer {
        background-color: rgb(29, 29, 29);
        padding: 2rem 0 2.5rem;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 2rem;
    }

    .footer__links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer__social {
        font-size: 1.25rem;
    }

    .footer__social:hover {
        color: var(--theme-color);
        text-decoration: none;
    }

    .footer__bg {
        background-color: rgb(29, 29, 29);
        padding: 2rem 0 2.5rem;
    }

    .footer__title {
        font-size: var(--h2-font-size);
    }

    .footer__subtitle {
        font-size: var(--small-font-size);
    }

    .footer__link:hover {
        color: var(--theme-color);
    }

}

/*===== For Small Devices =====*/
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home__img {
        height: 200px;
    }

    .home__title {
        font-size: var(--h1-font-size);
    }

    .home__subtitle {
        font-size: var(--normal-font-size);
    }

    .about__info {
        grid-template-columns: repeat(2, 1fr);
        row-gap: .5rem;
    }

    .work__container,
    .contact__container {
        grid-template-columns: 1fr;
    }

    .work__item {
        font-size: var(--small-font-size);
    }

    .work__filters {
        column-gap: .25rem;
    }

    .about__icon {
        display: grid;
        place-items: center;
        padding-bottom: 4%;
    }

    .about {
        display: grid;
        place-items: center;
    }

    .bb__footer {
        background-color: rgb(29, 29, 29);
        padding: 2rem 0 2.5rem;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 2rem;
    }

    .footer__links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer__social {
        font-size: 1.25rem;
    }

    .footer__social:hover {
        color: var(--theme-color);
        text-decoration: none;
    }

    .footer__bg {
        background-color: rgb(29, 29, 29);
        padding: 2rem 0 2.5rem;
    }

    .footer__title {
        font-size: var(--h2-font-size);
    }

    .footer__subtitle {
        font-size: var(--small-font-size);
    }

    .footer__link:hover {
        color: var(--theme-color);
    }

}