/************************************************************/
/* Created by Taylor Harris for Technical Writer Internship */
/* Last Modified: 1/10/2023                                  */
/************************************************************/

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .60rem;
    /* background-color: var(--scroll-bar-color); */
    background-color: #ccc;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    /* background-color: var(--scroll-thumb-color); */
    background-color: #888;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    /* background-color: var(--scroll-thumb-color); */
    background-color: #444;
    border-radius: .5rem;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.navbar {
    color: white;
    background-color: #444;
    margin-bottom: 2em;
    position: sticky;
    top: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar-brand {
    margin-bottom: 0%;
}

.navbar-sub {
    font-size: medium;
    margin-bottom: 0%;
}

.navbar-right {
    float: right;
    list-style: none;
}

h3 {
    text-align: center;
}

h5 {
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#documentation1 {
    background-color: #eee;
    text-decoration: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: large;
}

#documentation1 a {
    color: black;
    text-decoration: none;
}

#documentation1:hover {
    background-color: #ccc;
    color: black;
    text-decoration: none;
}

.doc1_active {
    /* box-shadow: inset -3px -3px 7px white, 
    inset 3px 3px 5px #444; */
    box-shadow: inset 3px 3px 5px #444,
        inset 80px 80px 80px rgb(43, 194, 83);
    text-shadow: 1px 1px 3px white;
}

#documentation2 {
    background-color: #eee;
    text-decoration: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px;
    font-size: large;
}

#documentation2 a {
    color: black;
    text-decoration: none;
}

#documentation2:hover {
    background-color: #ccc;
    color: black;
    text-decoration: none;
}

.doc2_active {
    /* box-shadow: inset -3px -3px 7px white, 
    inset 3px 3px 5px #444; */
    box-shadow: inset 3px 3px 5px #444,
        inset 80px 80px 80px rgb(43, 194, 83);
    text-shadow: 1px 1px 3px white;
}

.instructions {
    margin-right: 2em;
    margin-left: 2em;
}

.collapsibles {
    margin-right: 2em;
    margin-left: 2em;
}

.collapsibles a {
    color: rgb(61, 134, 228);
}

table,
td,
th {
    border: 1px solid #444;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    border-collapse: collapse;
}

#date,
#notes {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.small {
    width: 5px;
    text-align: center;
}

td,
th {
    padding: 10px;
}

.heads-up {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px 0 2px 0;
    background-color: rgb(255, 234, 0);
    text-align: center;
    font-weight: 600;
}

.accordion {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion-special {
    padding-top: 30px;
    height: 100px;
    padding-bottom: 5px;
    /* padding-right: 5px; */
    border: 1px solid black;
    border-top: none !important;
    background-color: white;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}


.accordion-special:hover {
    background-color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.collapsibles .panel-special {
    width: 100%;
}

.collapsibles .panel-special1 {
    margin-left: 2.25em;
}

.collapsibles .panel-special2 {
    margin-left: 1em;
}

.collapsibles .smush .no-smush {
    font-size: 14px;
    padding: 1em;
    height: auto;
    width: auto;
}

.collapsibles .smush td {
    font-size: 10px;
    padding: 0;
}

.collapsibles .panel ul li {
    list-style-type: lower-alpha;
}

.collapsibles .smush #CC #PC #DR #FS #ID #AS #DC #QC #PC1 #HW #SW {
    display: grid;
    grid-template-rows: 1;
    height: 100%;
}

.collapsibles .smush .no-center {
    text-align: left;
}

.collapsibles .smush th {
    text-align: center;
}

.answers {
    color: rgb(37, 165, 71);
    padding-top: 0.5em;
}

.answers-1 {
    color: rgb(37, 165, 71);
    padding-top: 0;
}

.accordion:after {
    content: "\02795";
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-)*/
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup-special {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: rgb(37, 165, 71);
    background-color: rgb(250, 247, 208);
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popuptext-special {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -15px;
}

.popuptext-special1 {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: -300%;
    left: 50%;
    margin-left: -20px;
}

.popuptext-special2 {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: -190%;
    left: 50%;
    margin-left: -20px;
}

.popuptext-special3 {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: -300%;
    left: 50%;
    margin-left: -22px;
}

.popuptext-special4 {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: -500%;
    left: 50%;
    margin-left: -25px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.inner-accordion {
    background-color: #eee;
    color: black;
    padding-right: 0.75em;
    padding-bottom: 0.25em;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 15%;
}

.sub-ul {
    list-style: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.inner-accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.inner-panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.inner-accordion:after {
    content: "\02795";
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.center {
    display: grid;
    place-items: center;
}

#image {
    margin-top: 25px;
    margin-bottom: -75px;
}

#parent {
    width: calc(150px * 3);
    height: 100%;
    overflow: hidden;
    /* or any clear-fix snippet */
    margin-left: 2em;
    margin-bottom: .5em;
}

.child {
    float: left;
    width: 150px;
    height: 100%;
}

input[name=search] {
    width: 125%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
      change its width to 100% */
input[name=search]:focus {
    width: 175%;
}

#myBtnContainer {
    margin-left: 2em;
}

.defcontainer {
    margin-top: 1em;
}

.defcontainer a {
    color: rgb(61, 134, 228);
}

.filterDiv {
    margin: 2px;
    display: none;
    /* Hidden by default */
    padding-top: .5em;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #ccc
}

/* Add a dark background to the active button */
/* .btn.active {
    background-color: #666;
    color: white;
    content: "";
} */

.btn.active1 {
    background-color: #666;
    color: white;
}

footer {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 200;
}